/*
 * Inisialisasi awal
 *
 * Note :
 * - dokter main color : #36C4C1
 * - pasien main color : #048CE9
 */

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    font-family: "Ubuntu", Verdana, Geneva, Tahoma;
    margin: 0px;
    height: 100%;
}

body {
    background-color: #F8F9FF;
}

/*
 * navbar Style
 */
.nav {
    display: none;
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #36C4C1;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
    transition-timing-function: ease-in-out;
    z-index: 999;
}

.nav-btn {
    position: absolute;
    float: right;
    top: 10px;
    right: 16px;
    padding: 9px 10px;
    color: #0e4a48;
    background-color: transparent;
    border: 1.8px solid #1C9391;
    border-radius: 8px;
}

div.nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.nav.noshadow {
    box-shadow: none;
}

/*
 * sidebar Style
 */

.sidebar {
    background-color: #36C4C1;
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 998;

    font-size: 14pt;
    transition: all 0.3s;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.3);
}

.side-header {
    padding: 30px;
    text-align: center;
    align-content: center;
    align-items: center;
}

.side-menu {
    padding: 0px;
}

.side-menu > ul, .side-submenu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu a {
    display: block;
    padding: 20px 30px;

    text-decoration: none;
    color: #fff;
}

.side-menu a:hover {
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
}

.side-submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}

.side-submenu a {
    padding-left: 50px;
}

.side-menu svg {
    margin-right: 7px;
}

.side-menu li:hover .side-submenu {
    display: block;
    max-height: 200px;
}

@media only screen and (max-width: 1024px) {
    .side-menu span {
        display: none;
    }

    .sidebar {
        width: 8%;
    }

    .side-menu a {
        padding: 20px 35%;
    }

    .dashboard-main {
        width: calc(100% - 8%) !important;
    }
}

@media only screen and (max-width: 416px) {
    .nav {
        display: inline;
    }

    .sidebar {
        margin-left: -450px;
    }

    .sidebar img{
        display: none;
    }

    .side-menu span {
        display: inline;
    }

    .side-menu a {
        padding: 20px 30px;
    }

    .side-submenu a {
        padding-left: 50px;
    }

    .sidebar.active {
        margin-left: 0;
        width: 100%;
    }

    .dashboard-main {
        width: 100% !important;
    }
}

/*
 * Dashboard content style
 */
.dashboard-main {
    position: absolute;
    min-height: 100vh;
    width: calc(100% - 20%);
    top: 0px;
    right: 0px;

    transition: all 0.3s;
    background-color: transparent;
}

.dashboard-header {
    padding: 20px;
    position: relative;
    display: block;
    width: 100%;
    height: 80px;
}

.home-content {
    position: absolute;
    display: block;
    height: 100%;
    min-width: 100%;
    padding: 25px 50px;
    margin: auto;
}

/*
 * Button Style
 */

.upload-btn{
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

p.file-return{
    margin: 0px;
    margin-top: 4px;
    font-size: 9pt;
    padding: 10px;
    padding-top: 0px;
    color: #999;
}

button, input[type=submit]{
    min-width: 110.5px;
    font-size: 13pt;
    padding: 8px 30.5px;
    margin: 1px 6px;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    background-color: #36C4C1;
    border: 1px solid #1C9391;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

button:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.dropdown-ctn {
    display: none;
    text-align: left!important;
}

.dropdown-ctn ul {
    margin: 0px;
    padding: 0px;
}

.dropdown-ctn li {
    padding: 10px;
    padding-left: 20px;
}

.dropdown-ctn > ul > li:hover {
    background-color: #36C4C1;
    border-radius: 0px 0px 3px 3px;
}

.dropdown-ctn a {
    color: #fff;
    text-decoration: none;
    text-align: left!important;
}

.dropdown-btn {
    overflow: hidden;
}

.dropdown-btn ul {
    list-style: none;
}

.dropdown-btn:hover button {
    border-radius: 7px 7px 0px 0px;
    margin: 0px 6px;
}

.dropdown-btn:hover .dropdown-ctn {
    display: block;
    position: absolute;
    min-width: 110.5px;
    width: 122.2px;
    z-index: 1;
    margin: 0px 6px;
    border-radius: 0px 0px 3px 3px;
    background-color: #1C9391;
}

/*
 * Input Group
 */
.input-group{
    display: table-cell;
    border-collapse: collapse;
    width: 60%;
    overflow: hidden;
    border: 2px solid #36C4C1;
    border-radius: 10px;
    font-size: 12pt;
}
.input-group > div{
    display: table-cell;
    vertical-align: middle;
}

.input-group-front{
    color: #777;
    padding: 0 13px;
    padding-right: 0px;
}

.input-group-ctn{
    width: 100%;
}

.input-group input[type=submit]{
    background-color: #36C4C1;
    color: #fff;
    padding: 10px;
    font-weight: bold;
}

.input-group input{
    border: 0;
    display: inline;
    width: 100%;
    padding: 8px;
    padding-left: 0px;
    background-color: #FAFAFA;
}

/*
 * Flexbox Style
 */

.fbox-main{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.fbox-item{
    border-radius: 14px;
    background-color: DodgerBlue;
    color: white;
    width: 200px;
    height: 400px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.fbox-item.stretc{
    flex-grow: 1;
}

/*
 * Form Style
 */

.data-form{
    width: 100%;
    display: inline-block;
}

.data-form label{
    color: #1C9391;
}

.data-form input[type=text],
.data-form input[type=date] {
    width: 80%;
    border: 0;
    border-bottom: 1px solid #aaa;
    background-color: transparent;
}

.form-group{
    padding: 10px;
}